@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* Buttons */
.button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-style: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.navigation-button {
  background-color: #756157;
  padding: 8px 34px;
  margin: 0;
}

.navigation-button:hover,
.navigation-button:focus-visible {
  background-color: #615048;
}

.button-big {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto;
  padding: 8px 50px;
}

.button-big:hover,
.button-big:focus-visible,
.hotel-card-about-button:hover,
.hotel-card-about-button:focus-visible {
  background-color: #615048;
}

.subscribe-submit-button {
  background-color: #82b3d3;
  width: 230px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  margin: 0;
  padding: 8px 20px;
  border-radius: 0 4px 4px 0;
}

.subscribe-submit-button:hover,
.subscribe-submit-button:focus-visible,
.catalog-filter-submit-button:hover,
.catalog-filter-submit-button:focus-visible,
.hotel-card-favourite-button:hover,
.hotel-card-favourite-button:focus-visible {
  background-color: #68a2ca;
}

.catalog-filter-submit-button {
  background-color: #82b3d3;
  padding: 8px 50px;
  min-width: 190px;
}

.catalog-filter-reset-button {
  background-color: transparent;
  border-style: none;
  border-radius: 4px;
  padding: 8px 58px;
  max-width: 190px;
}

.catalog-filter-reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-reset-button:focus-visible {
  border: 3px solid #83b3d3;
}

.hotel-card-about-button {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: #756157;
  margin: 0;
  padding: 8px 26px;
  max-width: 140px;
}

.hotel-card-favourite-button {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #82b3d3;
  margin: 0;
  padding: 8px 20px;
  max-width: 140px;
}

.favoutite-added-button {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #7db54f;
  margin: 0;
  padding: 8px 18px;
  max-width: 140px;
}

.favoutite-added-button:hover,
.favoutite-added-button:focus-visible {
  background-color: #6c9e42;
}

/* Common text styles */
.page-lead {
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  max-width: 620px;
}

.page-description {
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.lead-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 54px;
}

/* Header */
.page-header {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
}

.navigation {
  display: flex;
  position: relative;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  display: block;
  width: 140px;
  position: absolute;
}

.navigation-logo:hover,
.navigation-logo:focus-visible {
  opacity: 0.5;
}

.navigation-logo:active {
  opacity: 0.3;
}

.page-header-logo {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 168px;
  padding: 0;
  max-width: 500px;
  list-style-type: none;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
  position: relative;
}

.navigation-link:hover,
.navigation-link:focus-visible {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756257
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin-left: auto;
}

.navigation-link-user:not(:last-child) {
  display: block;
  padding: 22px 12px;
  min-width: 20px;
  color: #000000;
}

.navigation-link-user:not(:last-child):hover,
.navigation-link-user:not(:last-child):focus-visible {
  border: none;
  color: #756157;
}

.navigation-link-user:not(:last-child):active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-item-user:last-child {
  padding: 14px 0 14px;
  margin-left: 20px;
}

.navigation-tooltip {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #7db54f;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 3px;
  box-sizing: border-box;
}

/* Main */
.main-container {
  min-height: 100vh;
  flex-grow: 1;
}

/* Footer */
.page-footer-container {
  display: flex;
  width: 1060px;
  padding: 0;
  margin: 40px 70px 30px;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  width: 160px;
  margin: 0;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-button {
  min-width: 18px;
  padding: 13px;
  color: #83b3d3;
}

.footer-social-button:hover,
.footer-social-button:focus-visible {
  color: #68a2ca;
}

.footer-social-button:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  width: 335px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover,
.footer-phone:focus-visible {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-developer {
  max-width: 160px;
}

.footer-developer-logo {
  color: #000000;
}

.footer-developer-logo:hover,
.footer-developer-logo:focus-visible {
  color: #756157;
}

.footer-developer-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

/* Pages */

/* Main hero */
.main-hero {
  background-color: #283a3e;
  background-image:
    url("../images/hero-pattern.svg"),
    url("../images/main-hero-background.jpg");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: bottom;
  padding-top: 50px;
  padding-bottom: 80px;
  margin-bottom: 70px;
}

.main-hero-image {
  display: block;
  margin: 0 auto;
  padding-bottom: 25px;
}

/* Advantages */
.advantages {
  margin-bottom: 64px;
}

.advantages .page-lead {
  padding-bottom: 25px;
}

.advantages .lead-wrapper {
  margin-bottom: 80px;
}

.advantages-description {
  max-width: 670px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: 112px 85px 102px;
  position: relative;
}

.advantages-item-wide .advantages-item-wrapper {
  padding: 102px 85px 92px;
}

.advantages-item-title {
  margin: 0;
  margin-bottom: 62px;
  max-width: 175px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-title::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  left: 50%;
  top: 198px;
  transform: translateX(-50%);
  position: absolute;
}

.advantages-item-wide .advantages-item-title::after {
  background-color: rgba(255, 255, 255, 0.3);
  top: 188px;
  position: absolute;
}

.advantages-item-description {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  max-width: 230px;
}

.advantages-item-wide {
  display: flex;
  width: 1200px;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-wide .advantages-item-title {
  color: #ffffff;
}

.advantages-item-image {
  min-height: 100%;
  object-fit: cover;
  max-width: 800px;
}

.advantages-item-reversed {
  flex-direction: row-reverse;
}

/* About */

.about {
  margin-bottom: 96px;
}

.about .page-lead {
  max-width: 505px;
}

.about .page-description {
  max-width: 505px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-item {
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.about-item::before {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  content: "";
  top: 80px;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
}

.about-item.about-item-house::before {
  background-image: url("../images/icons/advantage-icon-home.svg");
}

.about-item.about-item-food::before {
  background-image: url("../images/icons/advantage-icon-food.svg");
}

.about-item.about-item-gift::before {
  background-image: url("../images/icons/advantage-icon-gift.svg");
}

.about-item:nth-child(even) {
  background-color: #ffffff;
}

.about-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 85px 80px;
}

.about-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  max-width: 230px;
  margin-bottom: 30px;
}

.about-item-description {
  max-width: 230px;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;

}

/* Hotel-search */
.hotel-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 96px;
}

.hotel-search .lead-wrapper {
  margin-bottom: 44px;
}

.hotel-search .page-description {
  max-width: 600px;
}

/* Subscribe */

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 96px 0 104px;
}

.subscribe .lead-wrapper {
  margin-bottom: 44px;
}

.subscribe .page-description {
  max-width: 475px;
}

.subscribe-background {
  color: #ffffff;
  background-color: #283a3e;
  background-image: url("../images/subscribe-form-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-background .page-lead {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.subscribe-form input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 452px;
  padding: 14px 20px;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.subscribe-form input:not(.subscribe-background) {
  background-color: #f2f2f2;
  color: #000000;
}

/* Catalog hero */
.catalog-hero-wrapper {
  color: #ffffff;
  background-color: #283a3e;
  background-image: url("../images/catalog-filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 75px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.breadcrums {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  align-items: center;
}

.breadcrums-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  display: block;
}

.breadcrums-item {
  display: flex;

}

.breadcrums-item:not(:last-child)::after {
  content: "";
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 8px;
  height: 20px;
  display: block;
  margin: 0 10px 0 10px;
}

.breadcrums-link-home {
  width: 13px;
}

.breadcrums-link-current {
  pointer-events: none;
}

.breadcrums-link:hover {
  opacity: 0.6;
}

.breadcrums-link:focus-visible {
  color: #ffffff;
}

.breadcrums-link:active {
  opacity: 0.3;
}

/* Filter form*/

.form-container {
  display: flex;
}

.fieldset {
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-group {
  min-width: 150px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  border: none;
}

.catalog-filter-item label {
  line-height: 23px;
  cursor: pointer;
}

.catalog-filter-item:not(:last-child) label {
  margin-bottom: 16px
}

.control {
  position: relative;
  display: block;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.control-input {
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0;
  margin-right: 16px;
  border-radius: 4px;
  position: absolute;
}

.control-input[type="checkbox"]:checked::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/tick-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.control-input[type="radio"] {
  border-radius: 50%;
}

.control-input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/tick-radio.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.filter-name {
  margin-left: 36px;
}

.price-filter {
  width: 288px;
  margin-left: 70px;
}

.price-range-scale {
  position: relative;
  height: 4px;
  width: 288px;
  background-color: rgba(255, 255, 255, 0.3);
}

.price-range-bar {
  height: 4px;
  width: 226px;
  background-color: #ffffff;
  position: absolute;
}

.price-range-toggle {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}

.price-range-toggle:hover {
  background-color: #ffffff;
}

.price-range-toggle:focus-visible {
  border: 3px solid #83b3d3;
}

.price-range-toggle:active {
  border: 2px solid #83b3d3;
}

.price-range-toggle:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.toggle-min {
  top: -10px;
}

.toggle-max {
  top: -10px;
  left: 207px;
}

.filter-range-wrapper {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.catalog-filter-range {
  display: flex;
  position: relative;
}

.range-input {
  height: 48px;
  max-width: 143px;
  border-style: none;
  color: #000000;
  font-weight: 700;
  font-size: inherit;
  line-height: 24px;
  padding-left: 20px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin-bottom: 36px;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus-visible {
  border: 3px solid #83b3d3;
}

.range-input.minimum {
  border-radius: 4px 0 0 4px;
}

.range-input.maximum {
  border-radius: 0 4px 4px 0;
}

.price-range-text {
  display: block;
  line-height: 24px;
  color: #aaaaaa;
  text-align: right;
  position: absolute;
  top: 12px;
  right: 20px;
}

.filter-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
  padding-bottom: 30px;
}


/* Catalog list */

.catalog-list {
  width: 1060px;
  margin: 50px 70px 60px;
}

.catalog-order-view {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.catalog-list .page-lead {
  margin: 0;
  padding: 0;
  margin-right: 200px;
  text-align: left;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  min-width: 295px;
  padding-left: 20px;
  min-height: 48px;
  border-radius: 4px;
  box-sizing: border-box;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.catalog-view {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  min-width: 180px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  gap: 8px;
}

.catalog-view-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  color: #000000;
  font-weight: 400;
  text-transform: none;
}

.catalog-view-button:hover,
.catalog-view-button:active {
  border: 2px solid #000000;
}

.catalog-view-button:focus-visible {
  border: 2px solid #68a2ca;
}

.catalog-view-button.active {
  border: 2px solid #000000;
}

/* Hotel Card */
.hotel-list-container {
  margin: 0;
  padding: 0;

}

.hotel-card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin-bottom: 80px;
  padding: 0;
}

.hotel-card-item {
  display: grid;
  grid-template-columns: repeat (2, 140px);
  grid-template-rows: auto auto auto 37px;
  align-content: start;
  align-items: start;
  gap: 16px 20px;
  width: 340px;
  min-height: 438px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
}

.hotel-card-link {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 0;
  text-decoration: none;
}

.hotel-card-image {
  max-width: 300px;
  object-fit: cover;
  padding-bottom: 16px;
}

.hotel-card-title {
  max-width: 300px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.hotel-card-descripton {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
}

.hotel-card-price {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  text-align: right;
}

.hotel-card-stars {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  max-width: 100px;
  margin: 10px 0 10px;
  box-sizing: border-box;
}

.hotel-card-stars .stars-one {
  background-image: url(../images/star.svg);
  background-repeat: space no-repeat;
  height: 17px;
  width: 20px;
}

.hotel-card-stars.stars-two {
  background-image: url(../images/star.svg);
  background-repeat: space no-repeat;
  height: 17px;
  width: 40px;
}

.hotel-card-stars.stars-three {
  background-image: url(../images/star.svg);
  background-repeat: space no-repeat;
  height: 17px;
  width: 60px;
}

.hotel-card-stars.stars-four {
  background-image: url(../images/star.svg);
  background-repeat: space no-repeat;
  height: 17px;
  width: 80px;
}

.hotel-card-stars.stars-five {
  background-image: url(../images/star.svg);
  background-repeat: space no-repeat;
  height: 17px;
  width: 100px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  max-width: 140px;
  margin: 0;
  padding: 8px 22px;
  border-radius: 4px;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

/* Pagination */
.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  min-width: 60px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  margin: 0;
  min-width: 60px;
  padding: 12px 5px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link:not(.pagination-link-current):not(.pagination-next):hover,
.pagination-link:not(.pagination-link-current):not(.pagination-next):focus-visible {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  pointer-events: none;
}

.pagination-next {
  color: #000000;
  background-color: transparent;
}

.pagination-next:hover,
.pagination-next:focus-visible {
  background-color: #f2f2f2;
}
